@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.footer-section{
  color: #f6dfeb;
  background-color: #393e46;
  height: 100px;
  font-family: "Roboto-Condesed" sans-serif;
  padding-top: 30px;
  justify-content: space-between;
  padding-left: 45rem;
  padding-right: 45rem;




}

@media(max-width: 768px) {
  .footer-section {
    font-size: 15px !important;
    justify-content: center;
    padding:50px;
  }

}

@media(max-width: 1500px) {
  .footer-section {
    font-size: 15px !important;
    justify-content: center;
    padding:50px;
  }

}
